

    <link rel="stylesheet" href="/assets/portal_static/dist/bootstrap-4.5.3/css/bootstrap.min.023b3876bb73.css">
    <link rel="preload" href="/assets/portal_static/portal/style_base.5b8fcd4c68ed.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="/assets/portal_static/portal/style_base.5b8fcd4c68ed.css" as="style">
        <link rel="stylesheet" type="text/css" href="/assets/portal_static/portal/style_base.5b8fcd4c68ed.css" />



    <link rel="preload" href="/assets/portal_static/dist/owl-carousel/owl.carousel.min.761bea69e4eb.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="/assets/portal_static/dist/owl-carousel/owl.carousel.min.761bea69e4eb.css" as="style">

        <link rel="stylesheet" type="text/css" href="/assets/portal_static/dist/owl-carousel/owl.carousel.min.761bea69e4eb.css" />


    <link rel="preload" href="/assets/portal_static/dist/owl-carousel/owl.theme.default.min.594b81805a98.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="/assets/portal_static/dist/owl-carousel/owl.theme.default.min.594b81805a98.css" as="style">

        <link rel="stylesheet" type="text/css" href="/assets/portal_static/dist/owl-carousel/owl.theme.default.min.594b81805a98.css" />


    <link rel="preload" href="/assets/portal_static/portal/style_home.d114e84886bc.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="/assets/portal_static/portal/style_home.d114e84886bc.css" as="style">

        <link rel="stylesheet" type="text/css" href="/assets/portal_static/portal/style_home.d114e84886bc.css" />

    <link rel="preload" href="/assets/portal_static/dist/aos-2.3.4/aos.847da8fca806.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="/assets/portal_static/dist/aos-2.3.4/aos.847da8fca806.css" as="style">

        <link href="/assets/portal_static/dist/aos-2.3.4/aos.847da8fca806.css" rel="stylesheet" />


<div class="background_advantages">
        <div class="navbarx navbar-default"  id="navbarx">
            <div class="navbar-container" id="navbar-container">
                <ul class="nav navbar-right">
                    <li class="navbar-position">
                        <p class="link_text_product" id="productButton">PRODUITS
                            <span
                                style="display: inline-block; margin-left: -1px; color: white; fill: white; position: relative;">
                                <img src="https://back.ww-cdn.com/portal_static/svg/base/arrow-down.37f10dc9ca89.svg" loading="lazy" alt="Information"
                                    style="width: 16px;" />
                            </span>
                        </p>
                        <div class="dropdown-content" id="dropdown-content">
                            <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9zaG9wLw==" class="obl dropdown-text">
                            Shopping app<br>
                            <small
                                style="font-style: italic; font-size: 14px; color: #999">Créez votre boutique en ligne</small>
                            </span>
                            <div
                                style="border-bottom: 1px solid rgb(219, 219, 219); margin-left: 10px; margin-right: 17px;">
                            </div>
                            <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9jbGFzc2ljLw==" class="obl dropdown-text">
                            Classic app<br>
                            <small
                                style="font-style: italic; font-size: 14px; color:#999">Créez votre app de contenu</small>
                            </span>
                        </div>
          
                    </li>
                    <li class="navbar-position">
                        <a href="reseller/index.html" class="link_text">
                        RESELLER
                        </a>
                    </li>
                    <li class="navbar-position">
                        <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9wcmljaW5nLw==" class="obl link_text">
                        TARIFS
                        </span>
                    </li>
                    <li class="navbar-position">
                        <a href="blog/index.html" class="link_text">
                        BLOG
                        </a>
                    </li>
                    <li class="navbar-position">
                        <a href='/account/auth/login'   olinw007 class="link_text_login" id="login_button">
                       Mes Apps
          
                        </a>
                    </li>
                    <li class="navbar-position">
                        <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9jcmVhdGUv" class="obl link_text_button_shop">
                        Créer une shopping app
                        </span>
                    </li>
                    <li class="navbar-position-button">
                        <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9jcmVhdGUv" class="obl link_text_button">
                        Créer une app
                        </span>
                    </li>
                    <li class="navbar-position-button">
                        <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9jcmVhdGUv" class="obl link_text_button_phone">
                        Créer
                        </span>
                    </li>
                    <li class="navbar-position-button">
                        <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbS9jcmVhdGUv" class="obl link_text_button_create_my_app">
                        Créer une app
                        </span>
                    </li>
                    <li class="navbar-position">
                      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>list </mat-icon></button>
          <mat-menu #menu="matMenu">
            <button (click)="profile()" mat-menu-item><mat-icon>face</mat-icon>{{user.nom}}</button>
            <button (click)="logOut()" mat-menu-item><mat-icon>input</mat-icon>log out</button>
          </mat-menu>
          
          
                  </li>
                </ul>
          
                <div class="burger" id="burger">
                    <img src="assets/images/logo-dark.png" height=60/>
                </div>
                    <span></span>
          
                <div>
                    <a href="index.html" class="goodbarber-logo-home" style="color: transparent;" id="goodbarber-logo-home">
          
          Goodbarber Home Page
                    </a>
                    <span data-obl="aHR0cHM6Ly9mci5nb29kYmFyYmVyLmNvbQ==" class="obl goodbarber-logo-home-gradiant" style="color: transparent;" id="goodbarber-logo-home-gradiant">
                    <svg id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="169.000000px" height="50.500000px" viewBox="0 0 319.50000 49.000000" xml:space="preserve">
          
          
          </svg>
          Goodbarber Home Page
                    </span>
                </div>
          
            </div>
          </div>
<div style="margin-top:80px;">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
    <div class="row flex-lg-nowrap">
        
    
      <div class="col">
        <div class="row">
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <div class="e-profile">
                  <div class="row">
                    <div class="col-12 col-sm-auto mb-3">
                      <div class="mx-auto" style="width: 140px;">
                        <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                          <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">
                            <div>
                               <img style="width: 140px; height: 140px;"[src]="getSafeUrl()">
                              </div>
                        </span>
                        </div>
                      </div>
                    </div>
                    <div class="col m-t d-flex flex-column flex-sm-row justify-content-between mb-3">
                      <div class="m-t text-center text-sm-left mb-sm-0">
                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">First Name:  {{user.nom}} </h4>
                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">Last name:  {{user.prenom}} </h4>

                        <div class="mt-2">
                           
                        </div>
                      </div>
                      
                      <div class="text-center text-sm-right">
                        <span class="badge badge-secondary">{{user.role}}</span>
                      </div>
                    </div>
                  </div> 
                  <ul class="nav nav-tabs">
                    <li class="nav-item"><a href="/profile" class="active nav-link">Settings</a></li>
                  </ul>
                  <div class="tab-content pt-3">
                    <div class="tab-pane active">
                        <form class="form"  [formGroup]="registerForm" (ngSubmit)="login()">
                            <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>First Name</label>
                                  <input *ngIf="user" class="form-control" type="text"formControlName="nom" name="name" placeholder="First Name"  >
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label>Last name</label>
                                  <input class="form-control" type="text"formControlName="prenom" name="lastname" placeholder="Last Name">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Email</label>
                                  <input class="form-control" formControlName="email"type="text" placeholder="user@example.com">
                                </div>
                              </div>
                            </div>
                           
                          </div>
                        </div>
                        <div  class="row">
                          <div *ngIf="user.password" class="col-12 col-sm-6 mb-3">
                            <div class="mb-2"><b>Change Password</b></div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Current Password</label>
                                  <input class="form-control" formControlName="curentpwd"type="password" placeholder="••••••">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>New Password</label>
                                  <input class="form-control"formControlName="password" type="password" placeholder="••••••">
                                </div>
                              </div>
                            </div>
                            <div  class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                                  <input class="form-control"formControlName="confirm" type="password" placeholder="••••••"></div>
                              </div>
                            </div>
                          </div>
                          <div fxLayout="column">
                            <div
                              class="upload mt-8"
                              ngx-dropzone
                              accept="image/gif,image/jpeg,image/pjpeg,image/png,image/x-png"
                              (change)="onSelect($event)"
                              [multiple]="false"
                            >
                              <ngx-dropzone-label
                              >
                               
                                  <button class="uploadButton" type="button">
                                   change photo
                                  </button>
                             
                              </ngx-dropzone-label>
                              <ngx-dropzone-image-preview

                                ngProjectAs="ngx-dropzone-preview"
                                *ngFor="let f of files"
                                [file]="f"
                                [removable]="true"
                                (removed)="onRemove(f)"
                              >
                              </ngx-dropzone-image-preview>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit">Save Changes</button>
                          </div>
                        </div>
                      </form>
    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
        </div>
    
      </div>
    </div>
    </div>

</div>
</div>
          

    <app-footer-client></app-footer-client>

